<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>224044003377-v8p4eckshrn2gqksssi4kv8jk5t9irlu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.224044003377-v8p4eckshrn2gqksssi4kv8jk5t9irlu</string>
	<key>API_KEY</key>
	<string>AIzaSyCok45pO3OTW9VZnrwa2wdUXjkZKhu9Tc8</string>
	<key>GCM_SENDER_ID</key>
	<string>224044003377</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.MountaInvest</string>
	<key>PROJECT_ID</key>
	<string>mountainvest-ce82e</string>
	<key>STORAGE_BUCKET</key>
	<string>mountainvest-ce82e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:224044003377:ios:938e7159c4e24e0f646510</string>
</dict>
</plist>